* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #0275d8;
    color: white;
    padding: 20px;
    text-align: center;
}

#search {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    font-size: 18px;
}

#featured-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.player-card {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-card img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0275d8;
    color: white;
}
